<div class="pure-g">
    <!-- Power -->
    <section>
        <section class="pure-u-1-2 text-center"><h3>Power</h3></section>
        <section class="pure-u-1-2 well text-center">
            <a class="pure-button pure-button-primary" ng-click="lightsOn()"><i class="fa fa-power-on"></i></a>
            <a class="pure-button pure-button-primary" ng-click="lightsOff()"><i class="fa fa-power-off"></i></a>
        </section>
    </section>
    <!-- Power -->
    <section>
        <section class="pure-u-1-2 text-center"><h3>Color</h3></section>
        <section class="pure-u-1-2 well text-center">
            <form>
                <select class="pure-button pure-button-primary" ng-model="selectedColor" ng-options="color for color in colors"></select>
            </form>
        </section>
    </section>
    <!-- Power -->
    <section>
        <section class="pure-u-1-2 text-center"><h3>Fade</h3></section>
        <section class="pure-u-1-2 well text-center">
            <form class="pure-form">
                <label for="fade" class="pure-checkbox">
                    <input type="checkbox" ng-model="fade">
                </label>
            </form>
        </section>
    </section>
</div>
