<h1 class="text-center"> Lighting </h1>
<div class="pure-g">
    <div class="pure-u-1-1">
        <h3>Turn On/Off</h3>
        <a class="btn btn-success" ng-click="lightsOn()">Lights On</a>
        <a class="btn btn-danger" ng-click="lightsOff()">Lights Off</a>
    </div>
    <div class="pure-u-1-2">
        <h3>Color</h3>
        <form>
            <select class="btn btn-warning" ng-model="selected" ng-options="color for color in colors"></select>
        </form>
    </div>
    <div class="pure-u-1-2">
        <h3>Fade</h3>
        <form class="pure-form">
            <select ng-model="selected" ng-options="color for color in colors"></select>
            <div class="btn-group" data-toggle="buttons">
                <label class="checkbox-inline btn btn-primary">
                    <input type="checkbox" ng-model="fade">Fade
                </label>
            </div>
        </form>
    </div>
</div>
